html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #fff;
}

h1 {
    font-weight: 700;
    font-size: 30px;
}
/* navbar
------------------------------ */
.navbar-brand {
    padding-left: 58px;
}

.nav-link {
    color: #000;
    font-weight: 700;
}

/* serviços
------------------------------ */
#servicos,
#sobre {
    background: #E5E5E5;
}

.texto h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.texto h2 {
    font-weight: 600;
    text-align: center;
    font-size: 24px;
    margin-bottom: 35px;
}

.texto p {
    font-size: 14px;
}

.texto a {
    margin-top: 150px;
}

.btn-custom {
    background: #FBF428;
    font-weight: 600;
    font-size: 24px;
}

.btn-custom:hover {
    background: #212121;
    color: #FBF428;
}

/* Nossos Parceiros
------------------------------ */
.parceirosstyle {
    padding: 50px;
}

#carouselparceiros {
    padding-bottom: 20px;
}

.img-caurosel {
    padding: 39px;
}

.img-caurosel1 {
    padding: 15px;
}


/* Sobre nós
------------------------------ */
.lorem h1 {
    margin-top: 10%;
    margin-bottom: 8%;
}

.lorem a {
    margin-top: 5%;
}

/* Parceiros
------------------------------ */
#parceiros {
    background: #212121;
    color: #fff;
    text-align: center;
}

.textoparceiros h2 {
    padding-top: 20px;
}

.d-carousel {
    padding: 0 10% 0 10%;
}

/* Fala Conosco
------------------------------ */
.text-center h1 {
    color: #000;
    margin: 20px 0;
}

.inputstyle {
    width:100%;
    color: #707070;
/*     margin-bottom: 4px; */
    padding: 5px;
}

#inputstylespecific {
    padding-bottom: 90px;
}

.containerfaleconoscostyle {
/*     margin-bottom: 5%; */
}

.containerfaleconoscostyle a {
/*     margin-top: 1%; */
}

/* footer
------------------------------ */

footer{
    background: #212121;
    color: #fff;
}

.spacing {
    color: #212121;
    padding-top: 50px;
}

.grid1footerstyle{

    padding-top: 50px;
}

.img-style {
    padding: 5px;
}

.grid2footerstyle {
    padding-top: 50px;
}
